extends ../hub/layout

block content
    h4 Uploaded files
    each random in randoms
        div.random
            a(href="/b/view/#{random.hash}")
                img(src="/b/view/preview/#{random.hash}/")
            if random.name
                p= random.name
            else
                p #{random.hash.length > 16 ? random.hash.substring(0, 14) + '...' : random.hash}.#{random.extension}
            if random.description
                p= random.description
