extends layout

block content
    h2 #{otherUser.displayname}'s info [#{otherUser._id}]
    if user.hasPermission('user.other.view.username')
        p Username: #{otherUser.username}
    if user.hasPermission('user.other.view.permissions')
        p Permissions (raw): #{otherUser.permissions}
    each action in ['displayname', 'username', 'password']
        if user.hasPermission('user.self.edit.' + action)
            form(action="/user/#{otherUser._id}", method="POST")
                input(type="hidden", name="action", value="#{action}")
                p
                    label(for="change_#{action}") Change #{action}: 
                    input(id="change_#{action}", name="#{action}", type="#{action}", displayname="#{action}")
                    input(type="submit", value="Change")
